body, html{
    height: 100%;
    margin: 0;
    padding: 0;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #402617;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 1;
    font-size: 20px;
    font-family:Verdana, Tahoma, sans-serif;
    text-decoration: none;
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 26px 40px;
    text-decoration:none;
}

li a:hover {
    background-color: #865d40;
}

.container {
    padding: 40px;
}


.parallaxdiv {
    background-image: url('https://media.istockphoto.com/id/1428737062/photo/empty-wooden-table-top-with-lights-bokeh-on-blur-restaurant-background.webp?b=1&s=170667a&w=0&k=20&c=bmQyPVwhLAB_FN9glJrREyPxzmIQPv5TOFcqcXHy2pw=');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 900px;
    margin-top: 60px;
}

h1 {
    text-align: center;
    padding-top: 20%;
    color: white;
    font-family:Verdana, Tahoma, sans-serif;
    font-size: 70px;
}


footer {
    color: white;
    background-color: #402617;
    padding: 5px;
}