<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/index.js"></script>
    </head>

    <body>

        <div class="navbar">
            <img src="/static/images/cup2.png" style="width:55px; vertical-align:middle; padding:8px; padding-left:2%; float:left;">
            <a href="home.html" id="logo">Cafe Calm</a>
            <div id="navbar-right">
                <a href="home.html">Home</a>
                <a href="checklist.html">Checklist</a>
                <a href="resources.html">Resources</a>
                <a href="about.html">About</a>
            </div>
        </div>

        <div class="parallaxdiv2">
            <h1 id="hometitle">OUR MISSION</h1>
            <h3>To build good mental health practices among the public</h3>
        </div>

    </body>
</html>

