<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/index.js"></script>
    </head>

    <body>

        <div class="navbar" id="homenavbar">
            <img src="/static/images/cup2.png" style="width:55px; vertical-align:middle; padding:8px; padding-left:2%; float:left;">
            <a href="home.html" id="logo">Cafe Calm</a>
            <div id="navbar-right">
                <a href="home.html">Home</a>
                <a href="checklist.html">Checklist</a>
                <a href="resources.html">Resources</a>
                <a href="about.html">About</a>
            </div>
        </div>


        <div class="parallaxdiv">
            <h1 id="hometitle">Cafe Calm</h1>
            <h3>Savor Serenity; Brew Balance</h3>
        </div>


        <div class="container">
            <h2>Mental Health</h2>
            <p>In the same way that our bodies need food and exercise in order to stay healthy, our brains need regular maintenance to function as well. With the rise of research into cognitive science and other related fields, we’ve discovered more and more about the importance of mental health for everybody, no matter who you are.</p>
        </div>
        <div class="container" id="home-contain-check">
            <h2>What do we do?</h2>
            <p>In light of this research, Cafe Calm aims to ease the burden on user’s minds by providing mental health tips in a quick and digestible fashion. Our easy to use checklist offers the public a way to relax their minds to keep them healthy and happy.</p>
            <p>By changing people's lives in small ways each day, Cafe Calm's team hopes to bring about a society where every person is mentally fully equipped to handle the ups and downs that life has to offer. </p>
            <a href="checklist.html">Click here to try our Checklist!</a>
        </div>



        <footer>
            <img src="/static/images/cup0.png" style="width:80px;">
            <p>Cafe Calm</p>
            <img src="/static/images/cup1.png" style="width:80px;">
            <p>Barista Buddies</p>
            <img src="/static/images/cup2.png" style="width:80px;">
            <p>Medihacks 2023</p>
        </footer>

    </body>
</html>

